name: On-Chain BTC Reporter

on:
  # Execução automática diária
  schedule:
    - cron: "15 9 * * *"   # 06:15 BRT (UTC+3)

 
jobs:
  run-onchain:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Collect on-chain data
        run: python collector.py

      - name: Generate and send report
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python onchain_to_telegram.py
